.home__hero-section {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.gradcolor {
  background: linear-gradient(
    180.04deg,
    #184c35 33.14%,
    rgba(24, 76, 53, 0) 110.63%
  );
}

.home__hero-design {
  object-fit: cover;
  height: 100vh;
  mix-blend-mode: multiply;
}

.home__hero-row {
  align-items: center;
}

.btn-pri {
  background-color: #184c35;
}

.rowwer {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.column {
  max-width: 50%;
}

.signin_column {
  padding-left: 100px;
}
.signin_column > h4 {
  color: #184c35;
  margin-bottom: 20px;
}

.home__hero-text-wrapper {
  padding-top: 0;
  height: 100%;
}

.top-line {
  align-items: center;
  position: absolute;
  top: 10%;
  padding-left: 100px;
  width: 37%;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}
.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #1c2237;
}

.home__hero-subtitle {
  position: absolute;
  top: 20%;
  margin-top: 40px;
  padding-left: 100px;
  max-width: 40%;
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 18px;
  color: #e4e4e4;
}

.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.loginalert {
  visibility: hidden;
}

#slide {
  position: absolute;
  right: -500px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    right: 0;
  }
}

@keyframes slide {
  100% {
    right: 0;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
  .rowwer {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .top-line {
    position: absolute;
    top: 5%;
    width: 100%;
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: 800;
    letter-spacing: 1.4px;
    margin-bottom: 16px;
  }
  .home__hero-design {
    object-fit: cover;
    height: 80vh;
    mix-blend-mode: multiply;
  }
  .column {
    max-width: 100%;
  }
  .home__hero-subtitle {
    position: absolute;
    top: 20%;
    margin-top: 20px;
    padding-left: 10px;
    max-width: 100%;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 18px;
    color: #e4e4e4;
  }
  .signin_column {
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
